<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News detector</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="index.js"></script>
</head>
<body>
   <div class="first" style="position: relative;">

  
        <nav>
            <div class="logo">
             <div>Caustic Coyotes</div>
            </div>
            <ul class="nav-links">
              <!-- <li><a href="#">Home</a></li> -->
              <li><a href="#process">Process</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="/checker" class="check-now">Check now</a></li>
            </ul>
        </nav>
    
     
    
        <div class="land-back">
            <img src="./images/land-back.svg" alt="">
        </div>
   
   
    
        <div class="land-img">
            <img src="./images/land-img.svg" alt="">
        </div>
   
    <div class="content">
        <div class="title">Fake News Detector</div>
        <div class="text">Know what sources and news to trust </div>
        <a href="/checker"> <div class="button"> Check Now!</div></a>
    
   </div>
</div>
</div>
   
    
   
    <div class="process" id="process">
        <div class="heading">The Process...</div>
        <div class="line"></div>

        <div class="no-content">
            <div class="no-img">
                <img src="./images/1.svg" alt="">
            </div>
            <div class="no-text">
                Paste the URl into the text input field.
            </div>
        </div>
        <div class="no-content">
            <div class="no-img">
                <img src="./images/2.svg" alt="">
            </div>
            <div class="no-text">
                    Click on the Submit button
            </div>
        </div>
        <div class="no-content">
            <div class="no-img">
                <img src="./images/3.svg" alt="">
            </div>
            <div class="no-text">
                Find out if the news is real or fake.
            </div>
        </div>

        <div class="no-btn">
            <a href="/checker"> <button> Check Now!</button></a>
        </div>
    </div>

    <div class="team" id="team">
        <div class="heading">The Team</div>
        <div class="line"></div>

        <div class="teammates">
            <div class="member">
                <div class="mem-img">
                    <img src="./images/Mask Group (1).svg" alt="">
                </div>
                <div class="name">Hemanth</div>
                <div class="skill">Backend</div>
            </div>
            <div class="member">
                <div class="mem-img">
                    <img src="./images/Mask Group (2).svg" alt="">
                </div>
                <div class="name">Samanvith M S</div>
                <div class="skill">Design & Front-end</div>
            </div>
            <div class="member">
                <div class="mem-img">
                    <img src="./images/Ellipse 4.svg" alt="">
                </div>
                <div class="name">Anhad</div>
                <div class="skill">ML</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="link">
            <a href="#">GitHub Link</a>
        </div>
       
    </div>
  
    
   
    
</body>
</html>