<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Checker</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="index.js"></script>
</head>
<body>
    <div class="container">
        <div class="fact-title">
            The Result:
        </div>
        <div class="check-back">
            <img src="./images/check-back.svg" alt="">
        </div>
        <h1 style="margin-left: auto; margin-right: auto; text-align:center">
            <%= result %>
        </h1>

        <h4 style="text-align: center; margin-top: 4em">
            <a href="/checker">Go back</a>
        </h4>
    </div>
</body>
</html>